/* 
    Document   : styles
    Created on : 25 mars 2014, 10:32:50
    Author     : Thibaud
    Description:
        Purpose of the stylesheet follows.
*/


html,body{
    height: 100%
}
.header{
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    width: 100%;
}
.pageCorps {
    position:relative;
}
/*
    header
*/
#imgLogoGSB {
    height: 100px;
    width: 100px;
}
.degrade {
    background-image:linear-gradient(to right, white, #269abc);
    height: 100px;
    width: 100%;
}
/*
    menu
*/
.smenu { list-style: none; font-size: large } .menuNomFonction { margin-bottom: 2em; } .menuDeconnexion { margin-top: 2em; }
.menuList {
    padding-left: 0;
    margin-left: 0;
}
.menuTitre {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
}
/*
    contenu
*/
.contenu {
    padding-top: 2em;
    padding-left: 2em;
}
.corpsForm {
    text-align: center;
    font-size: large;
}
.piedForm {
    padding-left: 5em;
    padding-right: 5em;
}
.encadre {
    font-size: large;
}
.validerFrais {
    font-size: large;
    text-align: left;
}
/*
    erreur
*/
.erreur ul {
    font-size: large;
    list-style: none;
}